#
# .gitignore for data-model
#

# Ignore python object code artifacts.
*.pyc

# Ignore some Mac-specific files.
**/.DS_Store

# ignore eclipse project files
.project
.cproject

# ignore CLion and PyCharm project files
.idea

# ignore build dir
build/

# ignore CLion builds
cmake-build-*/

xdm_bdl.egg-info
*.so
src/python/xdm_bdl.py
dist
